//CLASE BASE

.boton{
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: black;
	background-color: white;
	border:1px solid black;
	border-radius: 20px;
}

// EXTENDER CLASE BASE

.boton-aceptar{
	background-color: pink;
	color: white;
	border: 1px solid pink;
}
.boton-cancelar{
	background-color: hotpink;
	color: white;
	border: 1px solid hotpink;
}