*{
	font-family: 'Bebas Neue', cursive;
}

	h1{
	color: $colorSecundario;
	font-size: 30px;
	}
	p{
	color: $colorTerceario;
	font-size: 20px;}
	iframe {
	height: 200px;
	width: auto;
	justify-content: center;}

#galeria img{
	width:350px;
	height:auto;
}
#galeria .col-lg-4{
	padding:  25px;
	margin: 0px;
}
#imgMk img:hover{
	transform: scale(1.15);
}


